{% extends "layout.html" %}
{% load friendly_date %}

{% block headextra %}
  {{block.super}}
  <meta name="description" content="Personal website of Braden MacDonald, a Vancouver-based developer.">
{% endblock %}

{% block content %}
  <div id="whistlerbg" class="jumbotron">
    <h1>Braden MacDonald</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h2>Welcome</h2>
      <p>This is the personal website of Braden MacDonald, Vancouver-based software developer.</p>
    </div>
    <div class="col-md-5"><a class="twitter-timeline" href="https://twitter.com/BradenMacD" data-widget-id="290700259800260608">Tweets by @BradenMacD</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
{% endblock %}
